@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;

  --color-aurum-bg: #f5f2ed;
  --color-aurum-ink: #1a1a1a;
  --color-aurum-muted: #8e8e8e;
  --color-aurum-accent: #5a5a40;
}

@layer base {
  body {
    @apply bg-aurum-bg text-aurum-ink font-sans antialiased;
  }
}
